name: Generate a SNAPSHOT in Artifactory
on: workflow_dispatch
jobs:
  Generate-a-SNAPSHOT-in-Artifactory:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v3
      - name: Setup Java JDK and Maven
        uses: ontimize/setup-java-maven-gitAction@v3
        with:
          distribution: 'temurin'
          java-version: '8'
          server-id: imatia-artifactory
          server-username: ARTIFACTORY_USER
          server-password: ARTIFACTORY_PASS
      - name: Perform MVN actions
        run: |
          mvn help:effective-settings
          mvn -U -Dmaven.test.failure.ignore=true -DskipTests=true clean deploy -Pgenerate-version
        env:
          ARTIFACTORY_USER: ${{ secrets.ARTIFACTORY_USER }}
          ARTIFACTORY_PASS: ${{ secrets.ARTIFACTORY_PASS }}